.roomListContainer {
  width: 100%;

  .subtitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;

    .joinRoomTitle {
      font-size: 5dvw;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-align: start;
    }

    .roomsNumber {
      font-weight: 600;
      font-size: 1.5rem;
      font-size: 4dvw;
      color: #646464;
    }
  }

  .list {
    padding: 0.25rem;
    margin: 0;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 100px;
    background-color: rgb(228, 226, 226);
    overflow: auto;
    height: calc((4 * 48.5px) + 8px);

    .loader{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .item {
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:not(.picked) {
        .joinButton {
          background-color: white;
        }
      }

      .joinButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0.5rem;
        color: black;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(57, 57, 57, 0.2);
        font-size: 1.35rem;
        width: 100%;
        appearance: none;
        cursor: pointer;
        scale: 1;
        transition: scale 0.1s;

        &:disabled {
          filter: brightness(0.8);
        }

        .name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 70%;
          text-align: start;
          font-size: 4dvw;
        }

        .status {
          border-radius: 50%;
          width: 10px;
          height: 10px;

          &.playing {
            background-color: #7da6f8;
          }

          &.waiting {
            background-color: #57ed57;
          }

          &.finished {
            background-color: #f25d5d;
          }
        }

        .players {
          font-weight: 700;
          direction: ltr;
          font-size: 4dvw;

          &.red {
            color: red;
          }
          &.green {
            color: green;
          }
        }

        &:active {
          scale: 0.95;
        }
      }

      &.picked {
        .joinButton {
          background-color: #d0e0ff;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .roomListContainer {
    .subtitleWrapper {
      .joinRoomTitle {
        font-size: 1.5rem;
      }

      .roomsNumber {
        font-size: 1.15rem;
      }
    }

    .list {
      .item {
        .joinButton {
          .name{
            font-size: 1.15rem;
          }

          .players {
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}