.room{
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.loaderContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #16193c;
    padding: 0.25rem;
    border-radius: 50%;
  }