.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.261);
    display: none;
    place-items: center;
    transition: all 1s ease-in-out;
    opacity: 0;

    &.active{
        display: grid;
        animation: fadein 0.3s ease-in-out forwards;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.modal{
    width: min(50% , 30rem);
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
    min-height: 10rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 110;
    animation: 0.3s hideModal ease-out forwards;

    &.active{
        animation: 0.3s showModal ease-out forwards;
    }

    @keyframes showModal{
        0%{
            opacity: 0;
            transform: translateY(-3rem);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes hideModal{
        0%{
            opacity: 1;
            transform: translateY(0);
        }
        100%{
            opacity: 0;
            transform: translateY(-3rem);
        }
    }

    input{
        background-color: white;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 1.2em;
        width: 90%;
        margin: 0 auto;
        padding: 0.25em;
        color: black;
    }

    h2{
        color: black;
        text-align: center;
    }
}