
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0rem 0.8rem;

    .leftSection , .middleSection , .rightSection{
        display: flex;
        gap: min(2dvw,0.5rem);
        justify-content: center;
        align-items: center;
        flex: 1;
    }   

    .rightSection{
        justify-content: flex-start;
    }

    .middleSection{
        position: relative;
        left: -8px;
        
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4px;
        }

        .isConnected{
            border-radius: 100%;
            &.active{
                width: 5px;
                aspect-ratio: 1 / 1;
                background-color: lawngreen;
            }
            &.inactive{
                width: 5px;
                aspect-ratio: 1 / 1;
                background-color: red;
            }
        }

        .roomName{
            font-size: 100%;
            font-weight: bold;
            margin-bottom: 0;
            color: #646cff;
            margin-top: 0.35rem;
            text-align: center;
            white-space: nowrap;
        }

        .roomId{
            font-size: 0.8rem;
            margin-top: 0;
            color: #646cff;
            margin-bottom: 0.35rem;
        }
    }

    .leftSection {
        justify-content: flex-end;
    }

    .chatButton{
        position: relative;
        &.hasNotif{
            &::after{
                content: var(--notifCount);
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #ff6464;
                border-radius: 50%;
                bottom: 0rem;
                right: -1rem;
                z-index: 100;
                color: white;
            }
        }
    }
}

// @media (min-width: 1024px){

// }