
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0rem 0.8rem;

    .roomId{
        color: #646cff;
        font-size: 1.25rem;
        font-weight: bold;
        align-self: center;
    }

    .leftSection , .middleSection , .rightSection{
        display: flex;
        gap: 2dvw;
        justify-content: center;
        align-items: center;
        flex: 1;
    }   

    .rightSection{
        justify-content: flex-start;
    }

    .leftSection {
        justify-content: flex-end;
    }

    .chatButton{
        position: relative;
        &.hasNotif{
            &::after{
                content: var(--notifCount);
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #ff6464;
                border-radius: 50%;
                bottom: 0rem;
                right: -1rem;
                z-index: 100;
                color: white;
            }
        }
    }
}