header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0rem 0.8rem;

    .roomId{
        color: #646cff;
        font-size: 1.25rem;
        font-weight: bold;
        align-self: center;
    }
}